.item {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 15px;
  font-family: "Poppins";
  border-bottom: 3px solid transparent;
  padding: 10px 0;
  &:hover {
    border-bottom: 3px solid gold;
  }
}
